@charset 'UTF-8';
html {
  scroll-behavior: smooth;
}

/*------------------ header ------------------*/
header {
  padding: 1rem;
  position: relative;
}

header .header_menu {
  width: calc(100% - 2rem);
  justify-content: space-between;
  position: fixed;
  top: 1rem;
  z-index: 999;
  align-items: center;
}

header .header_menu p {
  font-size: 0.87rem;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 5px;
}

header .header_menu .header_mail p:last-child {
  font-size: 0.813rem;
}

header .position {
  width: 17.75rem;
  position: absolute;
  top: 4.06rem;
  right: 12.81rem;
  font-size: 0.9375rem;
}

header h1 {
  font-size: 20rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1rem;
}

/*------------------ article1 ------------------*/
.article1 {
  margin: 0 0.94rem 5.25rem;
  height: 60.6875rem;
  background: url(./images/article1.png);
}

.article1 .video {
  height: 60.6875rem;
  background: rgba(143, 65, 65, 0.85);
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: grid;
  place-content: center;
}

.article1 .video h2 {
  font-size: 14rem;
  margin-bottom: -2rem;
}

.article1 .video h2:nth-child(2) {
  font-size: 11.875rem;
  letter-spacing: -0.98rem;
}

.article1 .video span {
  margin-right: 20px;
}

.article1 .video p {
  font-size: 4rem;
  margin-top: 2rem;
}

.countup {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  opacity: 0;
}

.countup--is-visible {
  opacity: 1;
}

.cd-sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

/*------------------ article2 ------------------*/
.article2 {
  position: relative;
}

.article2 .position1 {
  width: 24rem;
  position: absolute;
  top: 0;
  left: 25rem;
}

.article2 .position2 {
  width: 17.375rem;
  position: absolute;
  top: 34.188rem;
  right: 13.25rem;
}

.article2 h3 {
  padding: 38.938rem 1.12rem 0;
  font-size: 14rem;
  text-transform: uppercase;
  color: var(--main-color);
}

.article2 .pp {
  padding: 0 1.12rem 0;
  margin-top: -2rem;
}

.article2 .project {
  background-color: var(--main-color);
  margin-top: -5rem;
  padding: 11.25rem 2rem 6.79rem;
  display: flex;
  flex-wrap: wrap;
}

/*------------------ article2 .design1 ------------------*/
.article2 .project .design1 {
  background-color: white;
  padding: 1.08rem 0.81rem;
  width: calc(52.1875rem - 1.62rem);
  height: calc(74.363rem - 1.16rem);
  position: relative;
}

.article2 .project .design1 .article2_project_menu {
  font-size: 0.9375rem;
  border: 1px solid #000;
  justify-content: space-between;
  margin-bottom: 1.92rem;
}

.article2 .project .design1 .article2_project_menu p {
  border-right: 1px solid #000;
  width: 12.67175rem;
  height: 1.08375rem;
  text-align: center;
}

.article2 .project .design1 .article2_project_menu p:last-child {
  border: none;
}

.article2 .project .design1 .blank {
  width: 49.93663rem;
  height: 30.42881rem;
  border: 1px solid #000;
}

.article2 .project .design1 .design1_img1 {
  width: 92%;
  position: absolute;
  top: 5.81rem;
  left: 2rem;
}

.article2 .project .design1 .design1_img2 {
  position: absolute;
  top: 11.94rem;
  right: 4.19rem;
  /* box-shadow: 3px 0px 12px 0px rgba(0, 0, 0, 0.25); */
}

.article2 .project .design1 h4 {
  font-size: 5.5rem;
  margin-top: 15.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.article2 .project .design1 .view {
  font-size: 0.9375rem;
  float: right;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: -1rem;
}

.article2 .project .design1 .tittle {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.6;
}
.article2 .project .design1 .tittle-mono {
  font-family: Azeret Mono, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #505050;
}

/*------------------ article2 .design2 ------------------*/
.article2 .project .design2 {
  background-color: white;
  padding: 1.08rem 0.81rem;
  width: calc(52.1875rem - 1.62rem);
  height: calc(74.363rem - 1.16rem);
  position: relative;
  margin-left: 9rem;
}

.article2 .project .design2 .article2_project_menu {
  font-size: 0.9375rem;
  border: 1px solid #000;
  justify-content: space-between;
  margin-bottom: 1.92rem;
}

.article2 .project .design2 .article2_project_menu p {
  border-right: 1px solid #000;
  width: 12.67175rem;
  height: 1.08375rem;
  text-align: center;
}

.article2 .project .design2 .article2_project_menu p:last-child {
  border: none;
}

.article2 .project .design2 .blank {
  width: 49.93663rem;
  height: 30.42881rem;
  border: 1px solid #000;
}

.article2 .project .design2 .design2_img {
  width: 65%;
  position: absolute;
  top: 5.3rem;
  right: 9rem;
  /* box-shadow: 3px 0px 12px 0px rgba(0, 0, 0, 0.25); */
}

.article2 .project .design2 h4 {
  font-size: 5.5rem;
  margin-top: 15.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.article2 .project .design2 .view {
  font-size: 0.9375rem;
  float: right;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: -1rem;
}

.article2 .project .design2 .tittle {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.6;
}
.article2 .project .design2 .tittle-mono {
  font-family: Azeret Mono, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #505050;
}

/*------------------ article2 .design3 ------------------*/
.article2 .project .design3 {
  background-color: white;
  padding: 1.08rem 0.81rem;
  width: calc(52.1875rem - 1.62rem);
  height: calc(74.363rem - 1.16rem);
  position: relative;
  margin-top: 4.95rem;
}

.article2 .project .design3 .article2_project_menu {
  font-size: 0.9375rem;
  border: 1px solid #000;
  justify-content: space-between;
  margin-bottom: 1.92rem;
}

.article2 .project .design3 .article2_project_menu p {
  border-right: 1px solid #000;
  width: 12.67175rem;
  height: 1.08375rem;
  text-align: center;
}

.article2 .project .design3 .article2_project_menu p:last-child {
  border: none;
}

.article2 .project .design3 .blank {
  width: 49.93663rem;
  height: 41.625rem;
  border: 1px solid #000;
  background: url(./images/article2.gif) no-repeat 50% / cover;
}

.article2 .project .design3 h4 {
  font-size: 5.5rem;
  margin-top: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.article2 .project .design3 .view {
  font-size: 0.9375rem;
  float: right;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: -1rem;
}

.article2 .project .design3 .tittle {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.6;
}
.article2 .project .design3 .tittle-mono {
  font-family: Azeret Mono, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #505050;
}
/*------------------ article2 .design4 ------------------*/
.article2 .project .design4 {
  background-color: white;
  padding: 1.08rem 0.81rem;
  width: calc(52.1875rem - 1.62rem);
  height: calc(74.363rem - 1.16rem);
  position: relative;
  margin: 4.95rem 0 0 1rem;
}

.article2 .project .design4 .article2_project_menu {
  font-size: 0.9375rem;
  border: 1px solid #000;
  justify-content: space-between;
  margin-bottom: 1.92rem;
}

.article2 .project .design4 .article2_project_menu p {
  border-right: 1px solid #000;
  width: 12.67175rem;
  height: 1.08375rem;
  text-align: center;
}

.article2 .project .design4 .article2_project_menu p:last-child {
  border: none;
}

.article2 .project .design4 .blank {
  width: 49.93663rem;
  height: 30.42881rem;
  border: 1px solid #000;
}

.article2 .project .design4 .design4_img {
  position: absolute;
  top: 5rem;
  left: 2.2rem;
  /* box-shadow: 3px 0px 12px 0px rgba(0, 0, 0, 0.25); */
}

.article2 .project .design4 h4 {
  font-size: 5.5rem;
  margin-top: 15.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.article2 .project .design4 .view {
  font-size: 0.9375rem;
  float: right;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0rem;
}

.article2 .project .design4 .tittle {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  line-height: 1.6;
}
.article2 .project .design4 .tittle-mono {
  font-family: Azeret Mono, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #505050;
}

/*------------------ article2 .design5 ------------------*/
.article2 .project .design5 {
  background-color: white;
  padding: 1.08rem 0.81rem;
  width: calc(52.1875rem - 1.62rem);
  height: calc(78.363rem - 1.16rem);
  position: relative;
  margin: 4.95rem 0 0 60rem;
}

.article2 .project .design5 .article2_project_menu {
  font-size: 0.9375rem;
  border: 1px solid #000;
  justify-content: space-between;
  margin-bottom: 1.92rem;
}

.article2 .project .design5 .article2_project_menu p {
  border-right: 1px solid #000;
  width: 12.67175rem;
  height: 1.08375rem;
  text-align: center;
}

.article2 .project .design5 .article2_project_menu p:last-child {
  border: none;
}

.article2 .project .design5 .blank {
  width: 49.93663rem;
  height: 30.42881rem;
  border: 1px solid #000;
}

.article2 .project .design5 .design5_img {
  position: absolute;
  top: 8.19rem;
  left: 2.5rem;
}

.article2 .project .design5 h4 {
  font-size: 5.5rem;
  margin-top: 23.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.article2 .project .design5 .view {
  font-size: 0.9375rem;
  float: right;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: -1rem;
}

.article2 .project .design5 .tittle {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.6;
}
.article2 .project .design5 .tittle-mono {
  font-family: Azeret Mono, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #505050;
}

/*------------------ article3 ------------------*/
.article3 {
  padding: 0 1rem;
}

.article3 h3 {
  font-size: 14rem;
  text-transform: uppercase;
  color: var(--main-color);
  margin-top: -5rem;
}

.article3 .pp {
  font-size: 11.875rem;
  margin-top: -2.5rem;
}

.article3 p {
  width: 100%;
  word-wrap: break-word;
  font-size: 4rem;
  margin: 8.5rem 0 5.8rem;
}

.article3 p {
  animation: typing-text 10s steps(50);
  animation-iteration-count: infinite;
  overflow: hidden;
  border-right: 3px solid #000;
}

@keyframes typing-text {
  0% {
    width: 0;
    background-color: var(--main-color);
  }

  80% {
    width: 100%;
    background-color: white;
  }

  100% {
  }
}

.article3 p .opacity {
  opacity: 50%;
}

/*------------------ article4 ------------------*/
.article4 {
  padding: 0 1rem;
  margin-bottom: 20.125rem;
}

.article4 h3 {
  font-size: 14rem;
  text-transform: uppercase;
  color: var(--main-color);
}

.article4 .pp {
  font-size: 11.875rem;
  margin: -2.5rem 0 7.19rem;
}

.article4 .article4_list {
  width: calc(100% - 9.625rem);
  padding: 0 4.8125rem 0;
  font-size: 1.25rem;
  position: relative;
}

.article4 .article4_list .ko {
  font-weight: normal;
}

.article4 .article4_list .flex {
  border-bottom: 1px solid black;
}

.article4 .article4_list h5 {
  padding: 1rem 0;
  margin-top: 1rem;
}

.article4 .article4_list .flex p {
  padding: 0.3rem 0;
}

.article4 .article4_list .first {
  width: 40%;
}

.article4 .article4_list .rate {
  width: 15%;
}

.article4 .article4_list .view {
  width: 40%;
}

.article4 .article4_list .link {
  width: 5%;
}

.article4 .article4_list img {
  width: 15%;
  transform: translateY(-10%);
  transition: 0.5s;
  position: absolute;
  right: 15%;
  opacity: 0;
}

.article4 .article4_list .logo1 {
  top: -10%;
}

.article4 .article4_list .logo2 {
  top: -5%;
}

.article4 .article4_list .logo3 {
  top: -3%;
}

.article4 .article4_list .logo4 {
  top: 5%;
}

.article4 .article4_list .logo5 {
  top: 13%;
}

.article4 .article4_list .logo6 {
  top: 20%;
}

.article4 .article4_list .logo7 {
  top: 25%;
}

.article4 .article4_list .logo8 {
  top: 40%;
}

.article4 .article4_list .logo9 {
  top: 48%;
}

.article4 .article4_list .logo10 {
  top: 55%;
}

.article4 .article4_list .logo11 {
  top: 55%;
}
.article4 .article4_list .logo12 {
  top: 60%;
}
.article4 .article4_list .logo13 {
  top: 65%;
}
.article4 .article4_list .logo14 {
  top: 70%;
}

.article4 .article4_list .flex:hover {
  background-color: #ddd;
}

.article4 .article4_list .flex:hover + img {
  opacity: 1;
  transform: translateY(0);
}

/*------------------ footer ------------------*/
footer {
  padding: 1rem;
}

footer h3 {
  font-size: 14rem;
  text-transform: uppercase;
  color: var(--main-color);
}

footer .pp {
  font-size: 11.875rem;
  margin-top: -2.5rem;
}

footer .contact {
  font-size: 4rem;
  margin: 6rem 0 0 10.87rem;
  padding: 10px;
  text-transform: uppercase;
  color: var(--main-color);
  transition: all 0.3s ease;
}

footer .mail span::after {
  content: "";
  width: 0%;
  left: 10.87rem;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #8f4141;
  transition: all 0.4s ease;
}

footer .mail:hover span::after {
  content: "";
  width: 30%;
  left: 10.87rem;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #8f4141;
  transition: all 0.4s ease;
}

footer .contact:hover + .mail span::after {
  content: "";
  width: 30%;
  left: 10.87rem;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #8f4141;
  transition: all 0.4s ease;
}

footer .mail {
  font-size: 3.125rem;
  margin: 0 0 5.12rem 10.87rem;
  padding: 10px;
  color: var(--main-color);
  line-height: 1.5;
}

footer .mono {
  width: 98.125rem;
  margin: 0 154px;
  text-align: center;
}
