@charset 'UTF-8';
:root {
  --main-color: #8f4141;
  --font-size-h3-Right: 14rem;
  --font-size-h3-pp: 11.875rem;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: Right Grotesk, sans-serif;
  margin: 0;
  background-color: blue;
}
.flex {
  display: flex;
}

.mono {
  font-family: Azeret Mono, sans-serif;
  text-transform: uppercase;
}

.pp {
  font-family: PP Editorial New, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}
